{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body  %}


    <div class="container mt-3">
            <h2 class="text-center" style="color: #172f76;">ABOUT</h2>
            <hr style="height: 2px;color: #214a80;background-color: #172f76;">
            <p class="text-justify" style="color: #172f76;font-family: Muli, sans-serif;">Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Odio, asperiores quos. Consequatur, et atque. Laudantium voluptatibus tenetur 
                 reiciendis molestiae beatae obcaecati quo commodi nostrum numquam, expedita iusto animi neque
                  error, perspiciatis libero! Eum rem voluptas eveniet tempora consectetur facere accusamus
                   illum vel non mollitia! Harum quisquam facilis omnis vitae voluptas nihil aut iusto, 
                   illum earum culpa sint. Assumenda dolor, in eveniet non veniam incidunt debitis 
                   impedit soluta perspiciatis repudiandae officia! Tenetur exercitationem error
                    voluptates voluptate quo doloremque blanditiis temporibus magni delectus labore
                     ex quam necessitatibus, autem nemo. Natus veniam, dignissimos a expedita tempore
                      quia modi repellat accusamus adipisci distinctio aut itaque blanditiis magni 
                      est fuga dolores officiis vel nesciunt quidem ullam. Amet ad praesentium eius
                       adipisci illum quasi, in magnam consequatur debitis distinctio nemo cumque 
                       consequuntur tenetur nostrum ipsum temporibus consectetur? Eveniet fuga praesentium
                        soluta rem quisquam atque, odio et tempore consectetur vero amet repudiandae hic 
                        aliquid a error odit perspiciatis. Adipisci quidem, atque odio non voluptatibus 
                        corrupti voluptates quod possimus minus iusto eveniet culpa illum minima praesentium 
                        mollitia natus? Sequi reprehenderit voluptas illum quas fugiat blanditiis quibusdam 
                        maxime quisquam adipisci aliquid a nesciunt sapiente assumenda nam eum ratione facere,
                         dicta deserunt dolorem eaque ab provident. Eius est rerum libero facilis rem iste.</p>

                         

    </div>

    
{% endblock body %}