{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}

{% block body  %}
<style>

  a {
    text-decoration: none
  }

</style>
<div class="container">
<h1 class="my-3 text-center">Welcome to Hancie Phago Blog</h1>

{% for blog in blog %}

<div class="container">
  <div class="card">
    <h5 class="card-header"><a href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h5>
    <div class="card-body">
      <p class="card-text">{{blog.content| slice:500}}</p>
      <a href="/blogpost/{{blog.slug}}" class="btn btn-primary">Read More...</a>
    </div>
  </div>

</div>
<br>
{% endfor %}
</div>
{% endblock body %}