{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}

{% block body  %}
<style>

  a {
    text-decoration: none;
    color:white;
  }

</style>
<div class="container">
<h1 class="my-3 text-center">Welcome to Hancie Phago Blog</h1>

{% for blog in blog %}

<div class="container">
  <div class="card">
    <h5 class="card-header bg-dark text-light"><a href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h5>
    <div class="card-body">
      <p class="card-text">{{blog.content| slice:500}}...</p>
      <a href="/blogpost/{{blog.slug}}" class="btn btn-outline-primary">Read More...</a>
    </div>
  </div>

</div>
<br>
{% endfor %}
<div class="my-3 float-right">
  {% if prev %}
  <button type="button" class="btn btn-primary"><a href="/blog?page={{prev}}">Previous &laquo;</a></button>

  {% else %}
  <button type="button" class="btn btn-primary"><a href="#">&laquo; Previous</a></button>
  {% endif %}


  {% if nxt %}
  <button type="button" class="btn btn-primary"><a href="/blog?page={{nxt}}">Next &raquo;</a></button>

  {% else %}
  <button type="button" class="btn btn-primary"><a href="#">&laquo; Next</a></button>
  {% endif %}
  

</div>

</div>
{% endblock body %}