{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}

{% block body  %}
<div class="container">
<h1 class="my-2">Welcome to Hancie Phago Blog</h1>

{% for blog in blog %}

<div class="media">
    <div class="media-body">
        
      <h5><a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h5>
        
      <div>
        {{blog.content| slice:500}}...
      </div>
     
    </div>
    <button class="btn btn-primary">Read More...</button>
  </div>
  <br>
{% endfor %}
</div>
{% endblock body %}