{% extends 'base.html' %}
{% block homeactive %}active{% endblock homeactive %}

{% block body  %}
<div class="container">
<h1 class="my-2">Welcome to Hancie Phago Blog</h1>

{% for blog in blogdata %}

<div class="media">
    <div class="media-body">
      <h5 class="mt-0"><a href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h5>
      <div>
        {{blog.content| slice:500}}...
      </div>
     
    </div>
    <button class="btn btn-primary">Read More...</button>
  </div>
  <br>
{% endfor %}
</div>
{% endblock body %}